body {
    font-family: Arial, sans-serif;
    color: #3c3c3c;
    background-color: #f0f0f0;
    background: url("result.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #ffffff;
    color: #3c3c3c;
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 -10px 20px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 2rem auto;
    max-width: 900px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0.5rem 0;
}

main {
    padding: 1rem;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

section {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem 0;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.1), -7px -7px 20px rgba(255, 255, 255, 0.5);
}

h2 {
    color: #6c63ff;
}

h3 {
    color: #a0a0a0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #6c63ff;
    color: #fff;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #ffffff;
    color: #3c3c3c;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 2rem auto;
    max-width: 900px;
}
